Repository okazu3333/survey-top-new: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["biome check --write", "biome format --write"],
  "*.{json,css}": ["biome format --write"]
}

fix: Update Dockerfile to properly handle workspace structure
  Dockerfile
Due: none

fix: Copy Prisma schema before bun install to fix postinstall error
  Dockerfile
Due: none

fix: Skip seed script in Docker build to avoid tsx execution error
  Dockerfile
Due: none

fix: Prevent potential build errors
  .github/workflows/deploy.yml
  DEPLOYMENT.md
  apps/api/package.json
  apps/web/package.json
  cloudbuild.yaml
  setup-gcp.sh
Due: biome format --write

fix: Resolve TypeScript build error and improve Turbo configuration
  apps/web/app/(auth)/surveys/(chat)/new/page.tsx
  turbo.json
Due: biome check --write, biome format --write

fix: Update bun.lockb to sync with package.json changes
  bun.lockb
Due: none

fix: Update zod record usage for v4 compatibility
  apps/api/src/router/question.ts
Due: biome check --write, biome format --write

fix: Remove unused Building2 import in RuleModelModal
  apps/web/components/survey-assistant/RuleModelModal.tsx
Due: biome check --write, biome format --write

fix: Remove unused imports and resolve TypeScript build errors
  apps/web/components/survey-assistant/SurveyLibrary.tsx
Due: biome check --write, biome format --write

fix: Resolve all build errors for Cloud Run deployment
  Dockerfile
  apps/api/tsconfig.json
  apps/web/app/(auth)/surveys/(chat)/new/page.tsx
  packages/database/src/index.ts
Due: biome check --write, biome format --write

fix: Copy existing SQLite database with seed data for Cloud Run
  Dockerfile
Due: none

fix: Correct database file path in Dockerfile for Cloud Run
  Dockerfile
Due: none

feat: Add SQLite database file with seed data for Cloud Run
  packages/database/prisma/dev.db
Due: none

fix: Add Cloud Run specific database initialization
  packages/database/src/index.ts
Due: biome check --write, biome format --write

fix: Optimize Cloud Run deployment and resolve image loading issues
  apps/web/next.config.ts
  packages/database/src/index.ts
Due: biome check --write, biome format --write

feat: Add comprehensive dummy data for enhanced PoC
  packages/database/prisma/dev.db
  packages/database/prisma/seed-additional-data.ts
Due: biome check --write, biome format --write

feat: Add comprehensive section-question relationship fix script
  packages/database/prisma/fix-section-questions.ts
Due: biome check --write, biome format --write

feat: Enhance sections page with detailed question display
  apps/web/app/(auth)/surveys/(chat)/[id]/sections/page.tsx
Due: biome check --write, biome format --write

fix: Resolve TypeScript build errors in sections page
  apps/web/app/(auth)/surveys/(chat)/[id]/sections/page.tsx
Due: biome check --write, biome format --write

feat: Add intelligent section auto-generation based on survey content
  apps/web/app/(auth)/surveys/(chat)/[id]/sections/page.tsx
Due: biome check --write, biome format --write

feat: ensure question data renders across pages
  apps/api/src/router/question.ts
  apps/web/app/(auth)/surveys/(chat)/[id]/question/preview/_components/survey-preview-section-new.tsx
  apps/web/app/(auth)/surveys/(chat)/[id]/sections/page.tsx
  apps/web/app/(auth)/surveys/(review)/[id]/review/_components/review-preview-section.tsx
Due: biome check --write, biome format --write

fix: make overview -> sections transition single-click (remove gating)
  apps/web/app/(auth)/surveys/(chat)/[id]/page.tsx
Due: biome check --write, biome format --write

feat(seed): generate context-aware dummy options for SA/MA and placeholders for FA
  apps/api/src/router/question.ts
Due: biome check --write, biome format --write

feat: one-click navigate after section save, hide current structure, auto-seed in /review/logic
  apps/web/app/(auth)/surveys/(chat)/[id]/sections/page.tsx
  apps/web/app/(auth)/surveys/(review)/[id]/review/logic/page.tsx
Due: biome check --write, biome format --write

fix: update Cloud Build config for survey-top-new service
  cloudbuild.yaml
Due: none

fix: update Dockerfile port from 3000 to 8080 for CloudRun compatibility
  Dockerfile
Due: none

fix(ci): seed SQLite during Docker build instead of copying dev.db
  Dockerfile
Due: none

feat(preview): update tabs per spec and add 調査設計 view
  apps/web/app/(auth)/surveys/(chat)/[id]/question/preview/_components/survey-preview-section-new.tsx
  apps/web/app/(auth)/surveys/(chat)/[id]/sections/page.tsx
  apps/web/app/(auth)/surveys/(review)/[id]/review/_components/review-preview-section.tsx
Due: biome check --write, biome format --write

chore: fix type-check by removing unused helper
  apps/web/app/(auth)/surveys/(chat)/[id]/sections/page.tsx
Due: biome check --write, biome format --write

feat(review): implement レビュー共有 tab with review URL/password/expiry and 回答画面 URL + button
  apps/web/app/(auth)/surveys/(review)/[id]/review/_components/review-preview-section.tsx
Due: biome check --write, biome format --write

fix: add validation and debug logging for surveyId in preview components
  apps/web/app/(auth)/surveys/(chat)/[id]/question/preview/_components/survey-preview-section-new.tsx
  apps/web/app/(auth)/surveys/(review)/[id]/review/_components/review-preview-section.tsx
  bun.lockb
Due: biome check --write, biome format --write

fix(new): guard survey.create payload, avoid empty input; trim fields
  apps/web/app/(auth)/surveys/(chat)/new/page.tsx
Due: biome check --write, biome format --write

fix(db): correct local SQLite fallback and CloudRun copy paths to prisma/dev.db
  packages/database/src/index.ts
Due: biome check --write, biome format --write

chore(api): add logging to survey.create to debug payload and Prisma error
  apps/api/src/router/survey.ts
Due: biome check --write, biome format --write

web(review): restore global header on review pages; refine review sidebar chat handling and numbering; guard tRPC base URL; db path fallback improvements
  apps/web/app/(auth)/surveys/(chat)/[id]/question/preview/_components/survey-preview-section-new.tsx
  apps/web/app/(auth)/surveys/(chat)/[id]/question/preview/page.tsx
  apps/web/app/(auth)/surveys/(review)/[id]/review/@review/default.tsx
  apps/web/app/(auth)/surveys/(review)/[id]/review/_components/review-mode-toggle.tsx
  apps/web/app/(auth)/surveys/(review)/[id]/review/_components/review-preview-section.tsx
  apps/web/app/(auth)/surveys/(review)/[id]/review/logic/_components/preview-logic-check-section.tsx
  apps/web/app/(auth)/surveys/(review)/[id]/review/preview/page.tsx
  apps/web/app/_components/header.tsx
  apps/web/lib/trpc/react.tsx
  apps/web/next.config.ts
  packages/database/prisma/dev.db
  packages/database/src/index.ts
Due: biome check --write, biome format --write

ci(build): use prisma deploy.db with absolute DATABASE_URL; seed via bunx prisma
  Dockerfile
Due: none

fix(build): install openssl and run prisma seed with bun; use deploy.db
  Dockerfile
Due: none

fix(web): remove unused sectionIndex causing TS build failure
  apps/web/app/(auth)/surveys/(chat)/[id]/question/preview/_components/survey-preview-section-new.tsx
Due: biome check --write, biome format --write

fix(web): remove unused ScrollArea import in review sidebar
  apps/web/app/(auth)/surveys/(review)/[id]/review/@review/default.tsx
Due: biome check --write, biome format --write

fix(web): remove unused Comment import to satisfy TS strict build
  apps/web/app/(auth)/surveys/(review)/[id]/review/@review/default.tsx
Due: biome check --write, biome format --write
